<!-- bottom nav -->
  <footer>
    <nav class="footer navbar fixed-bottom navbar-dark bg-dark border-top border-white">
      <h6 class="display-6 navbar-text">&copy; Copyright 2021. All Rights reserved.</h6>
    </nav>
  </footer>
